# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# Env
.env
**/.env
**/.env.local

# Prisma
**/prisma/*.db
**/prisma/migrations/dev.db

# Next.js
.next/
out/

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Cloud SQL Proxy
cloud-sql-proxy
**/cloud-sql-proxy

# Temp files
*.tmp
/tmp/


